@font-face {
	font-family: "Gotham Medium";
	src: url(../../fonts/Gotham-Medium.otf);
}
@font-face {
	font-family: "Gotham Book";
	src: url(../../fonts/Gotham-Book.otf);
}
body{
	background-color: rgba(0, 0, 0, 0.8);
	color:white;
	margin-top:30px;
}
h1, h2{
	width: 100%;
	text-align: center;
}
span, .headline{
	font-family: "Gotham Medium";
	color: rgba(255, 164, 164, 1);
	font-size:36px;
}
p, a, h2{
	font-family: "Gotham Medium";
	color: white;
}
a {
	text-decoration: none;
}
.headline {
	font-size: 50px;
	margin-bottom: 0px;
}
.subheadline {
	font-size: 26px;
}
.class{
	font-size:35px;
}
.confidence{
	font-size: 22px;
}
.confidence>span{
	color: #ffa4a4;
	font-size: 32px;
}
.imgContainer{
	display: inline-block;
	vertical-align: text-top;
	width: 60%;
	padding-top: 30px;
	margin: auto;
}
.values {
	display: inline-block;
	vertical-align: text-top;
	width: 30%;
	padding-top: 30px;
}
.prediction {
	margin-bottom: 60px !important;
}
.prediction, .expected {
	width: 100%;
}
.prediction>p, .expected>p{
	font-family: "Gotham Medium", sans-serif;
	margin-top: 0;
	margin-bottom: 0;
}
.binaryContainer{
	width: 60%;
	display:inline-block;
	vertical-align: text-top;
}
.binaryContainer > p {
	font-family: "Gotham Medium", sans-serif;
	font-size: 20px;
	padding: 20px;
	margin: 0px 100px;
}
.type {
	font-size: 25px;
	margin-bottom: 10px !important;
}
.subheader{
	text-decoration: underline;
	margin-bottom: 15px !important;
	font-size: 20px;
}
.info {
	width: 50%;
	margin: auto;
}
.explain, .treatment {
	display: inline-block;
	width: 40%;
	margin: auto;
	vertical-align: text-top;
}
.info>h2{
	margin-bottom: 0;
	text-decoration: underline;
}
.explain>h3, .treatment>h3 {
	font-family: "Gotham Medium";
	margin-bottom: 10px;
}
.explain>p {
	font-family: "Gotham Book";
	font-size: 16px;
	margin: 0;
	line-height: 1.5em;
}
.explain>p>a {
	text-decoration: underline !important;
}
.treatment>ul {
	padding: 0;
	margin: 0;
}
.treatment>ul>li {
	font-family: "Gotham Book";
	margin-bottom: 5px;
}